@mixin displayFlex(
	$direction: row,
	$main-align: start,
	$cross-align: start,
	$wrap: wrap
) {
	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
	justify-content: $main-align;
	align-items: $cross-align;
}
